* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  height: 100%;
  width: 80%;
  margin: 0 auto;
}

ul {
  display: flex;
}

li {
  text-decoration: none;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  height: 150px;
  margin-bottom: 5px;
}
header .top-header {
  background-color: #0282f9;
}
header .top-header a {
  color: white;
}
header .top-header ul {
  justify-content: flex-end;
  padding-block: 0.5rem;
  align-items: center;
}
header .top-header li {
  padding-left: 1rem;
}
header .bottom-header {
  background-color: white;
}
header .bottom-header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .bottom-header li {
  padding: 0 0.8rem;
  line-height: 150px;
  display: block;
}
header .bottom-header li a {
  font-size: 1.5rem;
  color: #8e9594;
  font-weight: 800;
}
header .bottom-header img {
  height: 80px;
}

.jumbotron {
  height: 400px;
  overflow: hidden;
}

.comics-list {
  background-color: black;
  color: white;
}
.comics-list .comics-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 2rem;
}
.comics-list .comics-wrapper .card {
  width: calc(16.6666666667% - 1rem);
  padding-bottom: 1.5rem;
}
.comics-list .comics-wrapper .card img {
  max-width: 100%;
}

.blue-band {
  background-color: #0282f9;
  height: 150px;
}

ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
ul img {
  height: 50px;
}
ul li {
  display: flex;
  padding: 0 1rem;
}
ul a {
  color: white;
  padding: 0 0.5rem;
}

.top-footer {
  background-image: url("/img/footer-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
}

.link-columns {
  display: flex;
  justify-content: space-between;
}
.link-columns h2 {
  color: white;
  padding-inline: 2rem;
}
.link-columns a {
  color: #8e9594;
}

.link-col {
  display: flex;
  margin: 1rem 0;
}
.link-col div {
  padding-right: 3rem;
}
.link-col ul {
  flex-direction: column;
  align-items: flex-start;
  height: auto;
}
.link-col ul li {
  padding-bottom: 0.3rem;
  margin: 0;
}

.img-col {
  position: relative;
  height: 400px;
}
.img-col img {
  display: block;
  height: 100%;
  width: 600px;
  overflow: hidden;
  -o-object-fit: none;
     object-fit: none;
}

.bot-footer {
  background-color: #303030;
  height: 150px;
}
.bot-footer .footer-columns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.bot-footer .footer-btn {
  color: white;
  font-weight: 800;
  padding: 1rem;
  border: 2px solid #0282f9;
}
.bot-footer .right-col ul {
  display: flex;
  align-items: center;
}
.bot-footer .right-col ul li {
  padding-left: 0.5rem;
}
.bot-footer .follow-link {
  color: #0282f9;
  font-weight: 800;
  font-size: 1.5rem;
}
