// Comics list
.comics-list {
    background-color: black;
    color: white;
    .comics-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 2rem;

        .card {
            width: calc(100% / 6 - 1rem);
            padding-bottom: 1.5rem;

            img {
                max-width: 100%;
            }
        }
    }
}
// Blue band
.blue-band {
    background-color: $brand-color;
    height: 150px;
}
ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;

    img {
        height: 50px;
    }
    li {
        display: flex;
        padding: 0 1rem;
    }
    a {
        color: white;
        padding: 0 0.5rem;
    }
}
