// Top cover
.top-cover-band {
    background-color: $brand-color;
    position: relative;
    height: 100px;

    .cover-container {
        position: absolute;
        bottom: 20px;
        border: 1px solid $brand-color;

        img {
            display: block;
        }
        span {
            position: absolute;
            color: white;
            padding: 0.5rem;
            background: lightskyblue;
        }
        span:nth-child(2) {
            top: 0;
            left: 0;
        }
        span:nth-child(3) {
            bottom: 0;
            left: 0;
            right: 0;
        }
    }
}
// Description Section
.description-section {
    padding-block: 2rem;
}
.description-columns {
    display: flex;

    .left-col {
        width: 70%;

        .comics-price {
            display: flex;
            justify-content: space-between;
            background-color: lightgreen;
            color: white;
            padding: 0.8rem;
        }
    }
}
// Talent & Spec Section
.talent-section {
    background-color: lightgrey;
    padding-block: 2rem;
}
.talent-columns {
    display: flex;

    .left-col {
        width: 50%;
    }
    .submenu-columns {
        display: flex;
        padding-block: 0.3rem;

        .submenu-name {
            width: 20%;
        }
    }
    .right-col {
        width: 50%;
    }
}
